@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
* {
	margin: 0;
}

html,
body {
	height: 100%;
	width: 100%;
	background-color: rgb(251, 253, 253);
}

.link {
	text-decoration: none;
	font-size: 35px;
	font-family: 'Open Sans', sans-serif;
	color: rgb(25, 25, 25);
}



.linksAndLogo {
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#admin_link{
	display: inline-block;
	margin: auto;
	margin-bottom: none;
	padding: none;
}

.links {
	width: 400px;
	border: 1px solid rgb(25, 25, 25);
	border-top: none;
	border-bottom: none;
	text-align: center;
}

a {
	text-decoration: none;
	margin: 25px;
	color: black;
}

a:hover {
	color: #0fde7f;
}


.LobusLogo {
	margin: auto;
	margin-top: 75px;
	text-align: center;
}

.EkoRepLogo {
	margin: auto;
	margin-bottom: 75px;
	text-align: center;
}

.LobusLogo img {
	margin: auto;
	width: 175px;
	height: auto;
}

.EkoRepLogo img {
	margin: auto;
	width: 300px;
	height: auto;
}
