:root {
	--forest-green: #08313A;
	--lime-green: #5CD85A;
	--teal-green: #107869;
	--forest-green-light: #1A5653;
	--background-light: white;
	--background-dark: rgb(251, 253, 253);
	--default-text: rgba(0,0,0,0.87);
	--text-light: #f7f7f7;
	--text-dark: #000000;
	
	--admin-color: #7f0000;
	--moderator-color: #bf360c;
	--worker-color: #0d47a1;
	--user-color: #107869;
}


body { 
	background: var(--background-dark); 
	color: var(--forest-green);
	font-family: 'Nunito', sans-serif; 
	margin: 0px; 
	padding: 0px; 
}

iframe {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 10%;
  bottom: 10%;
  width: 60%;
  height: 80%;
  border: none;
  border-radius: 10px;
}

#hidden-overlay {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.8) 
}

#error-text {
	max-width: 360px; 
	margin: 15px auto 0px; 
}
	
.topnav {
	background-color: white;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}	

.logo {
	width: 300px;
}

.logo-div {
	max-width: 300px;
	margin: auto; 
	padding: 32px 24px;

	text-align: center;
	margin-top: 50px;
}

.logo-div img{
	width: 200px;
	margin: auto;

}

.lobus-logo-div {
	max-width: 300px;
	margin: auto; 
	padding: 32px 24px;
	text-align: center;
	margin-top: 50px;
}

.lobus-logo-div img{
	width: 100px;
	margin: auto;

}


.topnav a {
  float: left;
  color: var(--forest-green);
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;  
  font-size: 20px;
  font-weight: 600;
}




	
.box-div {
	background: var(--background-light); 
	width: auto;
	margin:auto;
	margin-top: 30px;
	padding: 30px 24px; 
	border-radius: 20px; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}

#login {
	max-width: 400px;
}

#error {
	max-width: 500px;
}

#admin-console-text{
	text-align: center;
	margin: auto;
	padding: none;
	margin-bottom: 20px;
	font-size: 20px;
}

.box-div-high {
	background: var(--background-light); 
	width: auto;
	margin: 30px auto 16px; 
	padding: 32px 24px; 
	border-radius: 20px; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	
}

#user-list-div {
	max-width: 800px; 
}

#user-list-nav a{
	background: var(--teal-green);
	border-radius: 5px;
	margin: 0 0 10px;
	text-transform: none; 
	font-weight: bold; 
}

#user-details{
	font-size: 22px;
}

.box-div h2, .box-div-high h2 { 
	color: var(--forest-green);
	font-weight: bold; 
	font-size: 16px; 
	margin: 0 0 8px; 
}
.box-div h1, .box-div-high h1 {
	color: var(--teal-green);
	font-size: 22px; 
	font-weight: 300; 
	margin: 0 0 16px;
}
.box-div p, .box-div-highp {
	color: var(--forest-green);
	line-height: 140%; 
	margin: 16px 0 24px; 
	font-size: 14px;
}
.box-div a, .box-div-high a {
	display: block; 
	text-align: center; 
	background: var(--lime-green); 
	text-transform: uppercase; 
	text-decoration: none; 
	color: var(--text-light); 
	padding: 16px; 
	border-radius: 10px; 
	box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 2px rgba(0,0,0,0.24);
}



button {
	width: 100%;
	display: block; 
	text-align: center; 
	background: var(--teal-green); 

	text-decoration: none; 
	color: white;
	background: linear-gradient(137deg, rgba(92,216,90,1) 0%, rgba(59,175,96,1) 57%, rgba(16,120,105,1) 100%);
	background: #5cd85a;
	border: none;
	padding: 16px; 
	border-radius: 10px; 
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom: 6px;
	margin-top: 14px;
	font-family: 'Nunito', sans-serif; 
	font-weight: 600;
	font-size: 20px;
}

button:hover {
	
	background: linear-gradient(137deg, rgba(92,216,90,1) 0%, rgba(59,175,96,1) 57%, rgba(16,120,105,1) 100%);
	cursor: pointer;
}

.input-login {
  display: block;
  border: none;
  border-bottom: 2px solid rgba(59,175,96,1);
  padding: 16px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  box-sizing : border-box;
  font-size: 1em;
}

#password_field{
	margin-bottom: 30px;
}

.input-login:focus {
  }

.checkboxable input{
	float: right;
	width: auto;
	display: inline;
}

#categories-div{
	max-width: 480px;
	font-size: 17px;	
}

.checkbox-div{
	padding: 7px;	
}

#load { 
	color: rgba(0,0,0,0.4); 
	text-align: center; 
	font-size: 13px; 
}



#logout {
	float: right;
	width: auto;
	height: 100%;
	display: block; 
	text-align: center; 
	text-decoration: none; 
	background:none;
	color: var(--forest-green);
	border: none;
	margin:auto;
	box-shadow: none;
	border-radius: 0px;
	padding: auto;
}

#logout:hover {
	color: var(--lime-green);

	background: none;
	border: none;
	cursor: pointer;
}
#is_login{
	margin: auto;
	height: 100%;
	padding: none;
}
.mini-logo{
	display: block;
	width: 35px;
	margin: auto;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0%);
	-ms-transform: translate(-50%,0%);
	-webkit-transform: translate(-50%,0%);
	padding-top: 7px;
	
}


.role-button{
	font-size: 17px;
	
}

.ban-button{
	font-size: 17px;
	background: #d85a5a; 
}

.ban-button:hover{
	background: linear-gradient(137deg, #d85a5a 0%, #af3b3b 57%, #781010 100%);
}


@media (max-width: 600px) {
	body, .box-div, .box-div-high { margin-top: 0px; background: var(--background-light); box-shadow: none; border-radius: 0px;}
	
	iframe {
		position: absolute;
		left: 0%;
		right: 0%;
		top: 0%;
		bottom: 0%;
		width: 100%;
		height: 100%;
		border: none;
	}
	
	.mini-logo{
		display: none;
	}

}
